<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeolocalisationSoapWSServiceSoapBinding"/>
                <binding name="LocalizationImplPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://geoservices.wallonie.be/geolocalisation/soap/" binding="basicHttpBinding" bindingConfiguration="GeolocalisationSoapWSServiceSoapBinding" contract="geoServiceWallonie.GeolocalisationSoapWS" name="GeolocalisationSoapWSPort"/>
            <endpoint address="http://geoservices.irisnet.be:80/localization/SOAP/Localization" binding="basicHttpBinding" bindingConfiguration="LocalizationImplPortBinding" contract="geoServiceBrussels.Localization2" name="LocalizationImplPort"/>
        </client>
    </system.serviceModel>
</configuration>
